// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mix
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: $fontNormal;
}

.container {
    margin: 0 auto;
    max-width: 1180px;

    &.container_small {
        max-width: 800px;
    }
}

// Typo
h1 {
    font-weight: bolder;
    font-size: $fontBiggest;
}

h2 {
    font-size: $fontBig;
    font-weight: bold;
}

h2, p {
    color: $colorPrimaryTitles;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

h1, h2, h3, h4 {
    margin: 30px 0;
}

.text_center {
    text-align: center;
}




