header {
    background-color: red;
    background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
    background-position: top;
    background-size: cover;
    height: 700px;
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;


    a{
        width: 40px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 100%;
        }
    }
    
    .container {

        > img {
            width: 60px;
        }

    }
}